h3 {
    font-family:  'Quantico', sans-serif;
    color: $colorletra;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cajashistoria2 {
    display: block;
    padding: 50px 50px;
    
}

