header{
    background-color: $color1;
    font-weight: 900;
    font-family: 'Quantico', sans-serif;
    color: $colorletra;
    .descarga {
        color: $colordescarga;
    }
}

body {
    font-family: 'Quantico', sans-serif;
}